@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Neucha', cursive;*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow: hidden;
}

body {
    background-image: url('./images/phendranaBackground.png');
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 5vh;
}

img {
    justify-content: center;
    text-align: center;
    margin: auto;
    height: auto;
    width: 90%;
    border-radius: 50px;
}

h1 {
    font-size: 3vw;
    color: white;
    margin: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 2vw;
    margin: auto;
}

p {
    font-size: 1.5vw;
    margin: 1vw;
}

a {
    color: black;
    text-decoration: none;
}

.content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    width: 70vw;
    height: 90vh;
    margin: auto;
    margin-top: 5vh;
    justify-content: center;
    background-color: #5ab7ed;
    border-radius: 50px;
    overflow: hidden;
}
/* ----- Containers are set up as "container", num of columns, num of rows */
.container_1 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 2vw;
    overflow-y: scroll;
}

.container_2_1{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
}

.container_2_1 > img {
    height: auto
}

.container_1_2{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
}

.navbar{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr auto 1fr 1fr;
    height: 100px;
    background-color: #8095ff;
}

h2 > a {
    color: black;
    text-decoration: none;
}

.container_1 :first-child {
    margin-top: 2vw;
}

.post {
    display: relative;
}

/* ----- Post Content ----- */
.post_main_image {
    object-fit: cover;
    height: 40vh;
}

p{
    font-size: 25px;
}

.spoiler_warning {
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
    background-image: linear-gradient(to right, #4ea4d6, #6779d3);
}

.spoiler {
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(to right, #4ea4d6, #6779d3);
    border-radius: 25px;
    padding: 10px;
    transition: 0.3s;
}

.spoiler:hover {
    color: black;
    background-color: transparent;
}

/* ----- Images Spoilers ----- */
.spoiler_image {
    background-image: linear-gradient(to right, #4ea4d6, #6779d3);
    filter:blur(5px);
    transition: 0.3s;
}

.spoiler_image:hover {
    filter:blur(0px);
    transform: scale(1.05);
}

/* ---- Rating ----- */
.rating_silver {
    /* background-image: linear-gradient(to right, gold, goldenrod); */
    background-image: linear-gradient(to right, grey, silver);
    text-shadow: grey;
    padding: 4%;
    border-radius: 100px;
    margin-top: 2%;
    margin-bottom: 3%;
}

/* ----- Post Thumbnails ----- */
.post_background {
    position: relative;
    width: 80%;
    height: 35vh;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1vw;
}

.post_background:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* .post_text {
    position: relative;
    pointer-events: none;
    z-index: 1;
    color: white;
    font-size: 2vw;
    bottom: 40%;
    font-family: 'roboto', sans-serif;

} */